/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #0077cc;
    color: #333;
    padding: 20px;
}

header {
    background-color: white;
    color: #0077cc;
    padding: 20px 0;
    border-radius: 8px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    margin-top: 30px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

section h2 {
    color: #0077cc;
    margin-bottom: 10px;
}

ul {
    margin-top: 10px;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    color: rgb(255, 255, 255);
}
